@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.home-layout-container {
    height: 100vh;
    animation: color 4s linear infinite;
    -moz-animation: color 4s linear infinite;
    -webkit-animation: color 4s linear infinite; 
}

@keyframes color{
    0%  { background-color: #4BCCA7;}
    50%{ background-color: #91D155;}
    100%{ background-color: #4BCCA7;}
}

.home-text-container {
    width: 100%;
}
.home-left {
    height: 100vh;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    text-align: center;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    text-shadow: #474747 2px 2px 2px;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}
.home-left-button-container {
    width: 50%;
}
.home-left-button {
    background-color: #2F2E41;
    border-radius: 5px;
    border: #2F2E41;
    cursor: pointer;
    padding: 5% 10%;
    color: #fff;
    font-weight: bold;
    width: 100%;
}
.home-right {
    display: none;
}

.home-select-language-row {
    width: 100%;
    padding: 2%;
}

.home-select-language-bubble {
    margin-right: 8px;
}

@keyframes bouncing{
    0%  { bottom: 0px;}
    100%{ bottom: 10vh; }
  }

.inside-layout-container {
    height: 100vh;
}

.inside-nav {
    position: fixed;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    height: 10vh;
    width: 100%;
    z-index: 2;
}

/* ------------------------------- */
/* Burger Menu */
.inside-menu-burger {
    display: block;
    position: relative;
    top: 25px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
.inside-menu-burger a {
    text-decoration: none;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}
.inside-menu-burger a:hover {
    color: tomato;
}
.inside-menu-burger input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
}
.inside-menu-burger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    -webkit-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    -moz-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    -ms-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    -o-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}
.inside-menu-burger span:first-child {
    transform-origin: 0% 0%;
}
.inside-menu-burger span:nth-last-child(2) {
    transform-origin: 0% 100%;
}
.inside-menu-burger input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}
.inside-menu-burger input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.inside-menu-burger input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
.inside-menu-burger-button {
    background-image: linear-gradient(to top, #91d155, #7ad16d, #66d183, #55cf96, #4bcca7);
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.inside-menu-burger-list {
  background-image: url('../img/home_background_forest.jpg');
  position: absolute;
  width: 100vw;
  height: 110vh;
  margin: -100px 0 0 -50px;
  padding-top: 100px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  -webkit-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  -moz-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  -ms-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  -o-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

}
.inside-menu-burger-list-container {
    padding: 0 4em 4em 4em;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
}

.inside-menu-burger input:checked ~ ul {
  transform: none;
}

/* End Burger Menu */
/* ---------------------------- */

.inside-menu {
    display: none;
}
.inside-select-language {
    z-index: 2;
}
.inside-select-language button {
    border: 0;
    margin-top: 17px;
    margin-right: 15px;
}
.inside-select-language-bubble {
    margin-right: 8px;
}

.inside-timefortheplanet {
    display: none;
}

/* ----------------------------- */
/* Sections */
.about-container, 
.skills-container, 
.projects-container, 
.contact-container,
.lab-container {
    background-color: #fff;
    min-height: 100vh;
    width: 100%;
    padding: 5em 3em 3em 3em;
}

.about-container,
.projects-container,
.lab-container {
    background-color: #4BCCA7;
}
.error-container {
	background-color: #4BCCA7;
	min-height: 100vh;
	width: 100%;
	padding: 5%;
}

.error-text {
	padding-bottom: 5%;
}

.about-titles {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
.about-title-pictures {
    margin-right: 0.5em;
}

.skills-container,
.contact-container {
    background-color: #91D155;
}

.inside-networks {
    position: fixed;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}

.inside-tablet-block {
    display: none;
}
.inside-aside-menu {
    display: none;
}

.inside-aside-mentions-container-copyright {
    color: #696969;
}

main {
    height: 100%;
}

.card {
    background-color: #91D199;
    border-radius: 8px;
}

.project-cards {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
}
.project-card {
    padding: 1vh;
    width: 100%;
    max-width: 100%;
    margin-bottom: 5%;
}
.project-card-container {
    height: 100%;
    padding: 1vh;
    border-radius: 8px;
    background-color: #91D199;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    cursor: pointer;
}
.project-card-section-informations {
    margin: 0.6em 0;
}
.project-card-content-date {
    display: block;
    margin-top: 0.6em;
}
.projects-tabs {
    display: none;
}
.projects-modal-taglist {
    margin-left: 1em;
}
.projects-modal-team {
    margin-left: 0.6em;
}
.projects-modal-row-datelink {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.projects-select .select {
    z-index: 1;
}

/* Hauteur du modal */
.modal .modal-content {
    max-height: 100vh;
}

.tags {
    margin-bottom: 0.5rem !important;
}
.tags .tag {
    margin-bottom : 0;
}

.skills-blocks-container {
    width: 100%;
}
.skills-titles {
    margin: 2em 0;
    font-size: 1.5em;
}
.skills-center-line {
    display: none;
    width: 2px;
    background-color: #000;
}
.skills-technologies-container,
.skills-tools-container {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
    width: 100%;
}
.skills-technologies-items,
.skills-tools-items {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    padding: 1em;
		width: calc(100%/3);
		width: -moz-calc(100%/3);
		width: -ms-calc(100%/3);
}
.skills-items-text {
    font-size: 0.7em;
}

.section-titles {
    margin: 4vh 0;
    font-size: 2em;
}

.contact-form-container {
    margin-bottom: 2em;
    width: 100%;
}
.contact-form {
    margin-bottom: 30px;
}
.contact-map-container {
    width: 100%;
}
.contact-map {
    height: 400px;
    border-radius: 8px;
}
.contact-form-label {
    z-index: 1;
}

.legalmentions-container {
    padding: 3%;
}
.legalmentions-block {
    margin: 20px 0;
}

.about-steps .step-link .step-details {
    background: transparent !important;
}
.about-subcontainer {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
    width: 100%;
}
.about-text {
    margin-bottom: 2rem;
}
.about-text, .about-steps {
    width: 100%;
}
.about-steps-container {
    justify-content: center;
    -webkit-justify-content: center;
}
.about-steps .b-steps .steps .step-items .step-item:first-child .step-marker {
    background-image: url('../img/about-icons/logo-monkey.png');
    background-position: center;
		background-size: cover;
		-webkit-background-size: cover;
}
.about-steps .b-steps .steps .step-items .step-item:nth-child(2) .step-marker {
    background-image: url('../img/about-icons/logo-oclock.png');
    background-position: center;
		background-size: cover;
		-webkit-background-size: cover;
}
.about-steps-paragraphs {
    padding-bottom: 1rem;
}
.step-navigation {
    text-align: center;
}

.lab-navbar {
    background: transparent;  
}

.subtitles-group {
    margin-bottom: 2rem;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .ml15 {
        font-size: 4em;
    }
	.inside-tablet-block {
		display: block;
	}
	.inside-aside-menu {
		display: none;
	}
	.project-card {
		width: calc(100%/2);
		width: -moz-calc(100%/2);
		width: -ms-calc(100%/2);
	}
	.skills-technologies-items,
	.skills-tools-items {
		width: calc(100%/4);
		width: -moz-calc(100%/4);
		width: -ms-calc(100%/4);
	}
	.projects-tabs {
		display: block;
	}
	.projects-select {
		display: none;
    }
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .home-text-container {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
    }
    .home-left {
        text-align: left;
        padding: 7%;
        width: 50%;
        align-items: flex-start;
        -webkit-align-items: flex-start;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: space-around;
        -webkit-justify-content: space-around;
    }
    .home-right {
        display: block;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        width: 50%;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
    }
    .home-right-image {
        width: 90%;
    }
    .inside-menu {
        display: block;
    }
    .inside-nav {
        height: 0;
    }
    .inside-networks {
        display: none;
    }
    .inside-menu-burger,
    .inside-tablet-block {
        display: none;
    }
    .inside-menu-content-container {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
    }
    .inside-select-language button {
        margin-top: 35px;
        margin-right: 45px;
    }
    .inside-aside-menu {
        display: block;
        width: 250px; /* Largeur du menu latéral */
        height: 100vh; /* Hauteur total du menu latéral */
        background-color: #342E37;
    }
    .inside-aside-logo-container {
        width: 100%;
        height: 30vh; /* Hauteur de la zone logo menu latéral */
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
    }
    .inside-aside-logo {
        align-self: center;
        -webkit-align-self: center;
        width: 150px;
        transition: 0.70s;
        -webkit-transition: 0.70s;
        -moz-transition: 0.70s;
        -ms-transition: 0.70s;
        -o-transition: 0.70s;
    }
    .inside-aside-logo:hover {
        transition: 0.70s;
        -webkit-transition: 0.70s;
        -moz-transition: 0.70s;
        -ms-transition: 0.70s;
        -o-transition: 0.70s;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    } 
    .inside-aside-menu-container {
        width: 100%;
        height: 40vh; /* Hauteur de la partie menu du menu latéral */
    }
    .inside-aside-menu-list {
        height: 100%;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: space-evenly;
        -webkit-justify-content: space-evenly;
    }
    .inside-aside-menu-list-items {
        display: block;
        font-size: 1.7em;
        color: #fff;
        margin-bottom: 5%;
    }
    .inside-aside-menu-list-items:hover {
        display: block;
        font-size: 1.7em;
        color: #696969;
        margin-bottom: 5%;
    }
    .inside-aside-menu-selected-blue {
        color: #4BCCA7;
    }
    .inside-aside-menu-selected-green {
        color: #91D155;
    }
    .inside-aside-mentions-container {
        width: 100%;
    }
    .inside-aside-mentions-download {
        background-color: #696969;
        padding: 6px;
        border-radius: 15px;
    }
    .inside-aside-mentions-download-container {
        margin-top: 10px;
        -webkit-transition: 0.70s;
        -moz-transition: 0.70s;
        -ms-transition: 0.70s;
        -o-transition: 0.70s;
        transition: 0.70s;
    }
    .inside-aside-mentions-download-container:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
    .inside-aside-mentions-networks-title {
        display: block;
        padding-bottom: 10px;
        color: #696969;
    }
    .inside-aside-mentions-pictures {
        width: 32px;
        height: 32px;
        -webkit-transition: 0.70s;
        -moz-transition: 0.70s;
        -ms-transition: 0.70s;
        -o-transition: 0.70s;
        transition: 0.70s;
    }
    .inside-aside-mentions-pictures:hover {
        -webkit-transition: 0.70s;
        -moz-transition: 0.70s;
        -ms-transition: 0.70s;
        -o-transition: 0.70s;
        transition: 0.70s;
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    }
    .inside-aside-mentions-pictures-heart {
        width: 24px;
        height: 24px;
        margin: 0 4px;
        animation: heartzoom 1.5s alternate infinite ease-in;
    }
    @keyframes heartzoom {
        0% {transform: scale(0.8)}
        100% {transform: scale(1.2)}
    }
    .inside-aside-mentions-make {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flexbox;
        align-content: center;
        -webkit-align-content: center;
        justify-content: center;
        -webkit-justify-content: center;
    }
    .inside-aside-footer-container {
        height: 30vh;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: space-evenly;
        -webkit-justify-content: space-evenly;
    }
    .about-container, 
    .skills-container, 
    .projects-container, 
    .contact-container,
    .lab-container {
        padding: 3em;
    }
    main {
        width: auto; /* Largeur du main */
        margin-left: 250px; /* Largeur du menu latéral */
    }
    .project-card {
        padding: 3vh;
    }
    .skills-center-line {
        display: block;
    }
    .skills-blocks-container {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        justify-content: space-evenly;
    }
    .skills-left-technologies,
    .skills-right-tools {
        width: 40%;
    }
    .skills-items-text {
        font-size: 0.8em;
    }
    .section-titles {
        margin-bottom: 5vh;
    }
    /* Centre le modal et changer le fond */
    .modal .modal-content {
        margin-left: 20%;
    }
    .modal-background {
        background-color: rgba(188, 189, 197, 0.4);
    }
    /*-------------------------------------*/
    .modal-close {
        background-color: #969696;
    }
    .section-titles {
        margin-top: 0;
    }
    .contact-flex-container {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        width: 100%;
        justify-content: space-evenly;
        -webkit-justify-content: space-evenly;
    }
    .contact-form-container,
    .contact-map-container {
        width: 40%;
    }
    .contact-form-container {
        margin-bottom: 0;
    }
    .contact-flex-container .contact-titles {
        margin: 2em 0;
        text-align: center;
        font-size: 1.5em;
    }
    .inside-divider {
        margin-left: 250px;
        position: fixed;
        bottom: 0px;
        height: auto;
        z-index: 1;
    }
    .about-text, .about-steps {
        width: 47.5%;
    }
    .about-text {
        padding-right: 2.5%;
    }
    .about-steps {
        padding-left: 2.5%;
    }
    .inside-timefortheplanet {
        display: flex;
        z-index: 2;
        position: fixed;
        right: 45px;
        bottom: 35px;
        cursor: pointer;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .ml15 {
        font-size: 8em;
    }
    .project-card {
        width: calc(100%/3);
        width: -moz-calc(100%/3);
        width: -ms-calc(100%/3);
    }
    main {
        margin-left: 300px;
    }
    .inside-aside-menu {
        width: 300px; /* Largeur du menu latéral */
    }
    .inside-divider {
        margin-left: 300px;
    }
    .home-right-image {
        width: 70%;
    }
}